@font-face {
    font-family: "FiraGO";
    src: local("FiraGO Light"),
         url("./fonts/FiraGO-Light.otf") format("opentype");
    font-weight: 300; 
}

@font-face {
    font-family: "FiraGO";
    src: local("FiraGO Regular"),
         url("./fonts/FiraGO-Regular.otf") format("opentype");
    font-weight: 400; 
}

@font-face {
    font-family: "FiraGO";
    src: local("FiraGO Medium"),
         url("./fonts/FiraGO-Medium.otf") format("opentype");
    font-weight: 500; 
}

@font-face {
    font-family: "FiraGO";
    src: local("FiraGO Bold"),
         url("./fonts/FiraGO-Bold.otf") format("opentype");
    font-weight: 700; 
}

@font-face {
    font-family: "FiraGO";
    src: local("FiraGO Heavy"),
         url("./fonts/FiraGO-Heavy.otf") format("opentype");
    font-weight: 800; 
}